PATH=/srv/cdimage.ubuntu.com/bin:/usr/sbin:/usr/bin:/sbin:/bin

# On the Ubuntu production instance, this file lives in
# /srv/cdimage.ubuntu.com/etc/crontab; please update that file if you expect
# your changes to survive.

# CD image cron jobs, run out of cdimage's crontab.

# core16 daily builds
30 8 * * *	DIST=xenial for-project ubuntu-core cron.daily-live --live
30 9 * * *	DIST=xenial CHANNEL=beta for-project ubuntu-core cron.daily-live --live
# core18 daily builds
33 8 * * *	DIST=bionic for-project ubuntu-core cron.daily-live --live
33 9 * * *	DIST=bionic CHANNEL=beta for-project ubuntu-core cron.daily-live --live
# core20 daily builds
36 8 * * *	for-project ubuntu-core cron.daily-live --live
# bionic daily builds
51 7 * * *	DIST=bionic for-project ubuntu cron.daily-live --live
34 5 * * *	DIST=bionic for-project kubuntu cron.daily-live --live
30 1 * * *	DIST=bionic for-project xubuntu cron.daily-live --live
59 6 * * *	DIST=bionic for-project ubuntu-server cron.daily --live; DIST=bionic for-project ubuntu-server cron.daily-preinstalled --live; DIST=bionic SUBPROJECT=live for-project ubuntu-server cron.daily-live --live
59 16 * * *	DIST=bionic for-project lubuntu cron.daily-live --live
# The daily ubuntu-base bionic images are used by core18, so we can't build it
# with proposed enabled.
52 4 * * *	PROPOSED=0 DIST=bionic for-project ubuntu-base cron.daily-live --live
34 22 * * *	DIST=bionic for-project ubuntukylin cron.daily-live --live
20 15 * * *	DIST=bionic for-project ubuntu-budgie cron.daily-live --live
26 2 * * *	DIST=bionic for-project ubuntu-mate cron.daily-live --live
# regular focal daily builds
31 7 * * *	for-project ubuntu cron.daily-live --live; SUBPROJECT=canary EXTRA_PPAS=ubuntu-desktop/canary-image for-project ubuntu cron.daily-live --live
14 5 * * *	for-project kubuntu cron.daily-live --live
50 1 * * *	for-project xubuntu cron.daily-live --live
29 6 * * *	for-project ubuntu-server cron.daily --live; for-project ubuntu-server cron.daily-preinstalled --live; SUBPROJECT=live for-project ubuntu-server cron.daily-live --live
17 18 * * *	for-project ubuntustudio cron.dvd --live
29 16 * * *	for-project lubuntu cron.daily-live --live
32 4 * * *	for-project ubuntu-base cron.daily-live --live
14 22 * * *	for-project ubuntukylin cron.daily-live --live
00 15 * * *	for-project ubuntu-budgie cron.daily-live --live
46 2 * * *	for-project ubuntu-mate cron.daily-live --live

*/15 * * * *	mirror-image-build-logs

# Self-rebuilds
*/5 * * * *	rebuild-requests -b -q bionic iso
*/5 * * * *	rebuild-requests -b -q focal iso
